.wrapper {
    /* position: relative; */
}

.tooltip {
    position: absolute;
    background-color: rgba(11, 13, 39, 0.9);
    z-index: 200;
    bottom: 110%;
    width: max-content;

    /* transform: translateX(-50%); */
}

.tooltip div {
    border: 1px solid gray;
    padding: 10px;
    width: 100%;
    max-width: 300px;
}
.tooltip div p {
    margin-top: 6px;
}

.small div {
    padding: 6px;
    font-size: 1rem;
}
