.wrapper {
    width: 100%;
    background-color: #242424;
    height: 34px;
    border-radius: var(--borderRadius);
    display: grid;
    grid-template-columns: 1fr 0.3fr 1fr;
}

.wrapper span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.fullBar {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: var(--borderRadius);
    background-color: black;
}
.fullBar::after {
    content: "";
    height: 100%;
    /* width: 100%; */
    z-index: 0;
    position: relative;
    display: block;
    background: linear-gradient(128deg, transparent 94.5%, #242424 95%);
    margin-top: -34px;
}
.enemy::after {
    background: linear-gradient(52deg, #242424 5%, transparent 5.5%);
    /* transform: scale(-1, 1); */
}

.HPBar {
    /* background-color: #04bf9d; */
    background: rgb(248, 222, 202);
    background: linear-gradient(180deg, rgba(248, 222, 202, 1) 0%, rgba(175, 32, 23, 1) 80%);
    height: 100%;
    width: 100%;
    border-radius: inherit;
    transition: all 0.3s;
}

.enemy .HPBar {
    margin-left: auto;
}

.textBar {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    left: 10px;
    font-size: 1.2rem;
}

.enemy .textBar {
    left: auto;
    right: 10px;
}
