.homeField {
    background-color: rgb(12, 31, 31);
    /* background-image: url("@/assets/bg_home.jpg"); */
    /* background-position: center; */
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: var(--borderRadius);
}

.homeField img {
    position: absolute;
    width: 100%;
    height: 100%;
}
/* .homeField > * {
    position: relative;
} */

.header {
    position: relative;
    display: flex;
    gap: 20px;
    padding: 6px 10px;
    font-size: 1.4rem;
    background-color: #2a8a8a4f;
}
.header div {
    display: flex;
    align-items: center;
    gap: 4px;
    width: max-content;
    cursor: pointer;
}

.castle,
.way,
.tomb {
    background-color: rgba(255, 228, 196, 0.45);
    position: absolute;
    font-weight: 700;
}

.castle {
    top: 65%;
    left: 13%;
}

.way {
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
}

.tomb {
    top: 65%;
    right: 8%;
}
