.header {
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #5fcdd9 solid 1px;
    box-shadow: inset 0 -2px 10px #5fcdd957;
    gap: 20px;
    /* background-color: #1b357c; */
    background-color: #24385e;
}

.title {
    text-transform: uppercase;
    font-size: 2.2rem;
    text-shadow: 1px 2px 5px rgba(255, 255, 255, 0.6);
}
.title span {
    text-transform: lowercase;
    opacity: 0.8;
    font-size: 1rem;
}

.logo {
    width: 60px;
    border-radius: 8px;
}
.logo img {
    width: 100%;
}
