.fightField {
    background-color: rgb(12, 31, 31);
    width: 100%;
    height: 100%;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    font-size: 1.5rem;
    gap: 18px;
    overflow-x: auto;
}

.foundEnemies {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.enemies {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.enemy {
    border: 4px solid #3e6565;
    width: 200px;
    cursor: pointer;
}
.enemy_2 {
    border-color: green;
}
.enemy_3 {
    border-color: blue;
}
.enemy_4 {
    border-color: blueviolet;
}
.enemy_5 {
    border-color: gold;
}

.enemy.active {
    box-shadow: 0 0 12px 3px #5fcdd9;
}
.enemy.hide {
    opacity: 0.5;
}

.enemyDownWrapper {
    padding: 20px;
    background-color: #086666;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.enemyDownWrapper h3 {
    font-size: 2rem;
}
.resources p {
    display: flex;
    align-items: center;
    gap: 8px;
}
