@import "swipper.css";

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; */
  line-height: 1.2;
  font-weight: 500;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.9);
  background-color: #242424;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  position: relative;
  background-image: url("https://wp-s.ru/wallpapers/15/17/326706507146191/t-mno-sinij-fon-s-svetlymi-polosami.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
}

main {
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.overlay {
  position: absolute;
  inset: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4px 0 4px;
  margin-top: 16px;
  height: 100%;
}

.top {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  background-color: rgba(0, 5, 31, 0.95);
  border-bottom: #5fcdd9 solid 2px;
  box-shadow: inset 0 -10px 15px #5fcdd97a;
}

.logo {
  z-index: 200;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: #5fcdd9 solid 2px;
  box-shadow: 0 0 10px 15px #5fcdd97a;

  width: 500px;
}
.logo img {
  width: 100%;
}

.bottom {
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background-color: rgba(0, 5, 31, 0.95);
  border-top: #5fcdd9 solid 2px;
  box-shadow: inset 0 10px 15px 0 #5fcdd97a;
}
